vti_encoding:SR|utf8-nl
vti_author:SR|basement\\mtigue
vti_modifiedby:SR|basement\\mtigue
vti_timelastmodified:TR|24 Jun 2013 20:51:32 -0000
vti_timecreated:TR|24 Jun 2013 20:51:32 -0000
vti_cacheddtm:TX|24 Jun 2013 20:51:32 -0000
vti_filesize:IR|7173
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
